<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-in Page</title>
    <link rel="stylesheet" href="/stylesheet/authstyle.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home Page</a>
    </nav>
    <div class="container">
      <form action="/auth/Sign-in" method="POST">
        <h1>Sign-in</h1>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign-in</button>
      </form>
    </div>
  </body>
</html>
