<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
  </head>
  <body>
    <a href="/auth/sign-out">Sign-Out</a>
    <h1>Admin Dashboard</h1>
    <h2>Manage Users:</h2>

    <ul>
      <% users.forEach(user => { %>
        <% if(user.username !== 'admin') { %>
          <li>
             <strong><a href="/admin/<%= user._id %>"><%= user.username %></a>
             </strong>
          </li>
        <% } %>
      <% }) %>
      <% if(users.length === 0) { %>
        <p>NO USERS FOUND!</p>
      <% } %>
    </ul>
  </body>
</html>
