<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <a href="sign-up">Sign-up</a>
    <a href="sign-in">Sign in</a>
    <h1>FakeFlix</h1>
</body>
</html>