<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheet/landingpage.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <a href="/auth/sign-up" class="button">Sign-up</a>
        <a href="/auth/sign-in" class="button">Sign-in</a>
      </nav>
      <header>
        <h1>Movie Collector</h1>
        <p>Keep track of your favorite movies and discover new ones!</p>
      </header>
    </div>
  </body>
</html>
