<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <a href="/auth/sign-up">Sign-up</a>
    <a href="/auth/sign-in">Sign-in </a>
    <h1>Movie Collector</h1>
</body>
</html>
